<div class="mainContent">
  <div class="mainContainer">
    <form (ngSubmit)="resetAccount(form)" #form="ngForm">

      <p class="menuBig">RESET PASSWORD</p>
      <p class="menuSmall">Oops! Enter your e-mail address here and we will send you a reset link. Make sure to double-check for typos.</p>

      <input
        ngModel
        email
        #email="ngModel"
        type="email"
        id="email"
        name="email"
        placeholder="E-mail address">
      <span *ngIf="!email.valid && email.touched" class="help-block">Ensure you enter a valid e-mail address</span>

      <input [disabled]="!form.valid" type="submit" value="Request password reset link">

    </form>
  </div>
</div>
