<div class="mainContent">
  <div class="mainContainer">
    <form (ngSubmit)="resetAccount(form)" #form="ngForm">

      <p class="menuBig">{{ "RESET_PASSWORD" | translate }}</p>
      <p class="menuSmall">{{ "RESET_PASSWORD_DESC" | translate }}</p>

      <input
        ngModel
        email
        #email="ngModel"
        type="email"
        id="email"
        name="email"
        placeholder="{{ 'EMAIL_ADDRESS' | translate }}">
      <span *ngIf="!email.valid && email.touched" class="help-block">{{ "INVALID_EMAIL" | translate }}</span>

      <input [disabled]="!form.valid" type="submit" value="{{ 'REQUEST_PASSWORD_RESET' | translate}}">

    </form>
  </div>
</div>
