/* header style */
header {
  height: 15vh;
  width: 100vw;
  background: #1d335f;
  position: relative;
}
header img.logo {
  height: 10vh;
  text-align:center;
  padding-top: 2vh;
  display: block;
  margin: 0 auto;
}

.rightButton {
  color: white;
  position: absolute;
  right: 4vw;
  top: 6vh;
  font-size: 5vh;
  text-decoration: none;
  cursor: pointer;
}

.rightButtonImg {
}

.preventSlide {
  position: relative;
}

/*
 * DROP DOWN MENU
 * Code adapted from
 * https://www.w3schools.com/css/css_dropdowns.asp
*/

/* Style The Dropdown Button */
.dropbtn {
  height: 10vh;
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  top: 2.5vh;
  right: 2.5vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 700px) {
  /*.rightButton {*/
  /*display: none !important;*/
  /*}*/
  header img.logo {
    display: inline;
    margin-left: 50px;
  }
}

/*
 * MEDIA QUERIES
*/

@media screen and (max-width: 500px) {
  /*.rightButton {*/
  /*display: none !important;*/
  /*}*/
  header img.logo {
    display: inline;
    margin-left: 50px;
    width: 50vw;
  }
  .dropbtn{
    height: 7vh;
  }
  .dropdown {
    top: 4vh;
    right: 5vw;
  }
}
