<header>
  <a routerLink="/"><img style="cursor: pointer" src="assets/img/EDUshifts_now_plain.svg" onerror="this.src='/assets/img/EDUshifts_now_plain.png'"></a>

<div *ngIf="showAccountButtons;">
  <div *ngIf="isLoggedIn; else login">
    <!--<a style="cursor: pointer" (click)="openProfile()" >-->
    <!--PROFILE-->
  <!--</a>-->
    <a class="rightButton" (click)="logout()" >
      LOGOUT
    </a>
  </div>
  <ng-template #login>
    <a class="rightButton" routerLink="/login" >
      LOGIN
    </a>
  </ng-template>
</div>
</header>
