<header>
  <a routerLink="/"><img class="logo" style="cursor: pointer" src="assets/img/EDUshifts_now_plain.svg" onerror="this.src='/assets/img/EDUshifts_now_plain.png'"></a>

  <div class="dropdown">
    <img class="dropbtn" src="assets/img/account_v2.svg" onerror="this.src='/assets/img/account_v2.png'" (click)="onAccountButton()">
    <div *ngIf="isLoggedIn">
      <div class="dropdown-content">
        <a routerLink="/account/">Account Page</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</header>
