/* header style */
header {
  height: 15vh;
  width: 100vw;
  background: #1d335f;
}
header img {
  height: 10vh;
  text-align:center;
  padding-top: 2vh;
  display: block;
  margin: 0 auto;
}

.rightButton {
  color: white;
  position: absolute;
  right: 4vw;
  top: 6vh;
  font-size: 5vh;
}

@media screen and (max-width: 700px) {
  .rightButton {
    display: none !important;
  }
}
