<!-- Start footer-->
<footer>
    <div class="container-fluid">
        <div class="row">
            <ul>
                <li class="footerExtra"><a href="https://edushifts.world#form_4">Sign-up for our newsletter</a></li>
                <li class="footerExtra">An EDUshifts project</li>
                <li><a href="https://www.generosity.com/education-fundraising/edushifts-now-collective-book-initiative">Get your own book</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- End footer-->
