<div class="mainContent">
  <form (ngSubmit)="updateAccount(form)" #form="ngForm">

    <p class="menuBig">PROFILE</p>
    <p class="menuSmall" (click)="getUserPreferences()">Change your personal details here</p>

    <span *ngIf="(!first_name.valid)" class="help-block">{{ generalError }}</span>

    <div class="names">
      <input
        ngModel
        #first_name="ngModel"
        type="text"
        id="first_name"
        class="inlineForm"
        name="first_name"
        placeholder="{{ get_first_name() }}">
      <span *ngIf="(!first_name.valid)" class="help-block">{{ firstNameError }}</span>

      <input
        ngModel
        #last_name="ngModel"
        type="text"
        id="last_name"
        class="inlineForm"
        name="last_name"
        placeholder="{{ get_last_name() }}">
    </div>
    <span *ngIf="(!last_name.valid)" class="help-block">{{ lastNameError }}</span>

    <input
      ngModel
      #email="ngModel"
      type="email"
      id="email"
      name="email"
      placeholder="{{ get_email() }}"
      pattern="^$|^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <span *ngIf="!email.valid && email.touched" class="help-block">{{ usernameError }}</span>

    <div class="secondaryFont bottomPane">
      <div id="dataPreferences">

        <div class="form-group">
          <label>
            <input type="checkbox" name="updates" [(ngModel)]="mail_updates" #updates="ngModel">
            I want to receive book updates by e-mail
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="checkbox" name="anonymous" [(ngModel)]="anonymous">
            I want my name censored on the site
          </label>
        </div>

      </div>
    </div>

    <input [disabled]="!form.valid || form.pristine" [ngClass]="{'success': submitSuccess, 'failure': submitFailure}" type="submit" value="Save Changes">
    <span *ngIf="error !== ''" class="help-block">{{ error }}</span>
    <span *ngIf="submitSuccess" class="help-block help-block-success">Your profile has been updated</span>
  </form>
  <p class="menuSmall menuMiddle" (click)="getUserPreferences()">Or follow this link to change your password</p>
  <button class="menuButton menuButtonPassword" (click)="goToPassword()">Change Password</button>
  <span *ngIf="passwordChanged" class="help-block help-block-success">Your password was changed</span>
</div>
