<div class="mainContent">
  <div class="mainContainer">
    <form (ngSubmit)="updateAccount(form)" #form="ngForm">

      <p class="menuBig">{{ "PROFILE"| translate }}</p>
      <!--<p class="menuSmall secondaryFont">Change your data here</p>-->

      <span *ngIf="(!first_name.valid)" class="help-block">{{ generalError }}</span>

      <div class="inFormContainer"><!--

        --><input
          ngModel
          #first_name="ngModel"
          type="text"
          id="first_name"
          class="inlineForm"
          name="first_name"
          placeholder="{{ get_first_name() }}"><!--

       --><input
          ngModel
          #last_name="ngModel"
          type="text"
          id="last_name"
          class="inlineForm"
          name="last_name"
          placeholder="{{ get_last_name() }}"><!--
      --></div>
      <span *ngIf="(!last_name.valid)" class="help-block">{{ lastNameError }}</span>

      <input
        ngModel
        #email="ngModel"
        type="email"
        id="email"
        name="email"
        placeholder="{{ get_email() }}">
      <span *ngIf="!email.valid && email.touched" class="help-block">{{ usernameError }}</span>

      <input
        [(ngModel)]="social_url_data_live"
        #social_url="ngModel"
        type="url"
        id="social_url"
        name="social_url"
        [placeholder]="get_social_url_data() || 'https://your.url.here/'">
      <span *ngIf="!social_url.valid && social_url.touched" class="help-block">{{ socialUrlError }}</span>

      <div class="secondaryFont bottomPane">
        <div id="dataPreferences">
          <div class="form-group">
            <label class="control control--checkbox">{{ "OPT_RECEIVE_UPDATES" | translate }}
              <input type="checkbox" name="updates" [(ngModel)]="mail_updates">
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="form-group">
            <label class="control negative control--checkbox">{{ "OPT_ANONYMOUS" | translate }}
              <input type="checkbox" name="anonymous" [(ngModel)]="anonymous">
              <div class="control__indicator"></div>
            </label>
          </div>

        </div>
      </div>

      <input [disabled]="!form.valid || form.pristine" [ngClass]="{'success': submitSuccess, 'failure': submitFailure}" type="submit" value="{{ 'SAVE_CHANGES' | translate }}">
      <span *ngIf="error !== ''" class="help-block">{{ error }}</span>
      <span *ngIf="submitSuccess" class="help-block help-block-success">{{ "PROFILE_UPDATED" | translate }}</span>
    </form>
    <p class="menuSmall menuMiddle secondaryFont" (click)="getUserPreferences()">{{ "PASSWORD_LINK_DESC" | translate }}</p>
    <button class="menuButton menuButtonPassword" (click)="goToPassword()">{{ "CHANGE_PASSWORD" | translate }}</button>
    <span *ngIf="passwordChanged" class="help-block help-block-success">{{ "PASSWORD_UPDATED" | translate }}</span>
  </div>
</div>
