<div class="privacyPolicyWrapper">
  <h1 class="menuBig">{{ "PRIVACY_POLICY" | translate }}</h1>

  <div class="secondaryFont">
    <p>EDUshifts is committed to protecting your privacy and ensuring you have a positive experience on our platform.</p>
    <p>This policy outlines our practices and how we use the personal information you provide.</p>
    <p>"Personal Information" is any information that can be used to identify an individual, and may include, but is not limited to name, e-mail address, postal or other physical address.</p>
    <p>We do not share your personal information with third parties or for marketing purposes.</p>
    <p>The personal information we use, and the way we handle it, includes:</p>

    <ul>
      <li><strong>Location.</strong> We collect your location for the purpose of the game and the platform. Each time this happens you explicitly consent. Your location is necessary for the Book Voyage game and can therefore not be hidden on the platform.</li>
      <li><strong>Postal addresses.</strong> These are not explicitly stored on the platform - only manually placed coordinates are.</li>
      <li><strong>Name.</strong> Your name is saved on the platform and is visible on the platform's map. Names can be removed for the public with a checkmark by the admin, or through user's personal <a routerLink="/account/">profile page</a>. In that case only the admin and you can access it.</li>
      <li><strong>E-mail addresses.</strong> These are at all times confidential, and are only used for e-mails directly from EDUshifts. General e-mail from EDUshifts include an "unsubscribe" option if you wish to stop receiving updates. Personalised e-mails can be turned off on the platform's <a routerLink="/account/">profile page</a>.</li>
    </ul>

    <p>We also collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. We additionally collect potentially personally-identifying information like Internet Protocol (IP) addresses. Our purpose in collecting such information is to better understand how visitors use the website.</p>

    <p>Although most changes are likely to be minor, the platform may change its Privacy Policy from time to time, and at EDUshifts' sole discretion. EDUshifts encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

    <p>Should you have any privacy-related questions or comments related to this privacy policy, please send an email to <a href="mailto:ahoi@edushifts.world">ahoi@edushifts.world</a></p>

    <button class="menuButton" (click)="goBack()">{{ "GO_BACK" | translate }}</button>
  </div>
</div>
