.privacyPolicyWrapper {
  margin: 30px auto;
  width: 90%;
  max-width: 600px;
}

h1 {
  text-align: center;
}

li {
  margin-bottom: 10px;
}

a {
  color: #1d335f;
}

.menuButton {
  padding: 10px;
}
