.mainContent {
  background-image: url("/assets/img/web.png");
  background-repeat: no-repeat;
  background-position: center;
}

.mainContainer {
  padding-top: 15vh;
  display: block;
  margin: 10px auto;
  width: 70%;
  max-width: 600px;
}

input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"] {
  background: #1d335f;
  border: none;
  font-size: 20px;
  color: white;
  padding: 15px 3%;
  width: 94%;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  font-family: 'BebasNeue', sans-serif;
}

input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:disabled {
  background: dimgrey !important;
  cursor: default !important;
}

.menuBig {
  font-size: 60px;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  text-shadow: 2px 2px #fff, -2px -2px #fff, 2px 0px #fff, 0px 2px #fff;
}

.menuSmall {
  text-align: center;
  font-size: 1.3em;
  background: white;
  margin-top: 0;
  margin-bottom: 10px;
}

input.ng-invalid.ng-touched {
  background: red;
}

.help-block {
  text-align: center;
  color: red;
  display: block;
  background: white;
}

input {
  box-sizing: content-box !important;
}

.menuButton {
  display: inline-block;
  width: 200px;
  background-color: #1d335f;
  color: white;
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border: none;
}

.menuButtonPassword {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2em;
  width: 30%;
  min-width: 250px;
}

@media screen and (max-height: 780px) {
  .mainContainer {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 650px) {
  .mainContainer {
    width: 90%;
  }
}
