<div class="mainContent">
  <div class="mainContainer">
    <form (ngSubmit)="updatePassword(form)" #form="ngForm">

      <p class="menuBig">{{ "PASSWORD" | translate }}</p>
      <p class="menuSmall">{{ "CHANGE_PASSWORD_HERE" | translate }}</p>

      <span *ngIf="(!form.valid)" class="help-block">{{ generalError }}</span>

      <input
        ngModel
        #password="ngModel"
        type="password"
        id="password"
        name="password"
        placeholder="{{ 'NEW_PASSWORD' | translate }}"
        required>
      <span *ngIf="password.touched && (!password.valid || password.value.length < 8)" class="help-block">{{ passwordError }}</span>

      <input
        #passwordConfirm="ngModel"
        ngModel
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        placeholder="{{ 'NEW_PASSWORD_CONFIRM' | translate }}"
        required>
      <span *ngIf="!passwordConfirm.valid && passwordConfirm.touched" class="help-block">{{ passwordConfirmError }}</span>

      <input
        #oldPassword="ngModel"
        ngModel
        type="password"
        id="oldPassword"
        name="oldPassword"
        placeholder="{{ 'PASSWORD_OLD' | translate }}"
        required>
      <span *ngIf="!oldPassword.valid && oldPassword.touched" class="help-block">{{ oldPasswordError }}</span>

      <input [disabled]="!form.valid" type="submit" value="{{ 'SAVE_CHANGES' | translate }}">
      <span *ngIf="generalError !== ''" class="help-block">{{ generalError }}</span>

      <button class="menuButton menuButtonPassword" type="button" (click)="returnToAccount()">{{ 'RETURN_TO_ACCOUNT' | translate }}</button>
    </form>
  </div>
</div>
