<div class="mainContent">
  <form (ngSubmit)="updatePassword(form)" #form="ngForm">

    <p class="menuBig">PASSWORD</p>
    <p class="menuSmall">Change your password here</p>

    <span *ngIf="(!form.valid)" class="help-block">{{ generalError }}</span>

    <input
      ngModel
      #password="ngModel"
      type="password"
      id="password"
      name="password"
      placeholder="new password"
      required>
    <span *ngIf="password.touched && (!password.valid || password.value.length < 8)" class="help-block">{{ passwordError }}</span>

    <input
      #passwordConfirm="ngModel"
      ngModel
      type="password"
      id="passwordConfirm"
      name="passwordConfirm"
      placeholder="confirm new password"
      required>
    <span *ngIf="!passwordConfirm.valid && passwordConfirm.touched" class="help-block">{{ passwordConfirmError }}</span>

    <input
      #oldPassword="ngModel"
      ngModel
      type="password"
      id="oldPassword"
      name="oldPassword"
      placeholder="old password"
      required>
    <span *ngIf="!oldPassword.valid && oldPassword.touched" class="help-block">{{ oldPasswordError }}</span>

    <input [disabled]="!form.valid" type="submit" value="Save Changes">
    <span *ngIf="generalError !== ''" class="help-block">{{ generalError }}</span>

    <button class="menuButton menuButtonPassword" type="button" (click)="returnToAccount()">Return to account</button>
  </form>
</div>
