.mainContent {
  background-image: url("/assets/img/web.png");
  background-repeat: no-repeat;
  background-position: center;
}

.mainContainer {
  padding-top: 15vh;
  display: block;
  margin: 10px auto;
  width: 70%;
  max-width: 600px;
}

.inFormContainer {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

input[type="email"],
input[type="password"],
input[type="submit"],
input[type="text"],
input[type="url"] {
  background: #1d335f;
  border: none;
  font-size: 20px;
  color: white;
  padding: 15px 3%;
  width: 94%;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  font-family: 'BebasNeue', sans-serif;
}

input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:disabled {
  background: dimgrey !important;
  cursor: default !important;
}

.names {
  width: 100%;
  text-align: center;
}
.names {
  width: 50%;
  text-align: center;
}

.inlineForm {
  display: inline-block;
  width: 42% !important;
  margin: 0 !important;
  margin-bottom: 10px !important;
  padding: 15px 3% !important;
}

#first_name {
  margin-right: 2%  !important;
}

#last_name {
  margin-left: 2%  !important;
}

.codeCont {
  width: 40% !important;
  margin: 0 auto;
}

.code {
  width: 100%;
  text-align: center;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.ngValid {
  background-color: green;
}
.menuBig {
  font-size: 60px;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  text-shadow: 2px 2px #fff, -2px -2px #fff, 2px 0px #fff, 0px 2px #fff;
}

input.ng-invalid.ng-touched {
  background: red;
}

.help-block {
  text-align: center;
  color: red;
  display: block;
  background: white;
}

.hidden {
  display: none;
}

.fixWidth {
  width: 100% !important;
}

@media screen and (max-height: 780px) {
  .mainContainer {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 650px) {
  .mainContainer {
    width: 90%;
  }
}
