certifi==2017.4.17
chardet==3.0.4
defusedxml==0.5.0
diff-match-patch==20121119
dj-database-url==0.4.2
Django==1.11.21
django-allauth==0.32.0
django-braces==1.11.0
django-cors-headers==2.1.0
django-extensions==1.7.9
django-geojson==2.10.0
django-import-export==0.5.1
git+https://github.com/deSagaz/django-leaflet#egg=django-leaflet
django-oauth-toolkit==1.0.0
django-rest-auth==0.9.1
django-rest-framework-social-oauth2==1.0.7
djangorestframework==3.6.3
djangorestframework-gis==0.11.2
djangorestframework-jwt==1.11.0
et-xmlfile==1.0.1
gunicorn==19.7.1
idna==2.5
jdcal==1.3
jsonfield==2.0.2
oauthlib==2.0.2
odfpy==1.3.5
olefile==0.44
openpyxl==2.4.8
Pillow==6.2.0
psycopg2==2.7.1
PyJWT==1.5.0
python3-openid==3.1.0
pytz==2017.2
PyYAML==3.12
requests==2.18.1
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
tablib==0.11.5
unicodecsv==0.14.1
urllib3==1.21.1
whitenoise==3.3.0
xlrd==1.0.0
xlwt==1.2.0
