{% extends "base_generic.html" %}
{% load static %}
{% block content %}
{% include 'partials/header_index.html' %}
<div class="container-fluid">
	<div class="row">
		<div id="mainMap"></div>
			<div id="codeFormConAbs">
			<div id="codeFormCon">
			<form class="codeForm hide-submit" action="" method="post">
			{% csrf_token %}
			<input id="accessCode" type="text" placeholder="access code" name="name" maxlength="9">
			<label>
			    <input type="submit" />
			    <img class="arrowImg" src="{% static 'img/arrow.svg' %}" onerror="this.src='{% static 'img/arrow.png' %}'">
		    </label>
			</form>
			</div>
			</div>
	</div>
</div>
{% include 'footer.html' %}
<script src="{% static 'js/L.PolylineDecorator.js' %}"></script>
<script src="{% static 'js/L.Symbol.js' %}"></script>
<script src="{% static 'js/L.LineUtil.PolylineDecorator.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>




{% endblock %}