#mainMap {
  height: 50vh;
}

.bottomPane {
  height: 30vh;
  text-align: center;
}

.bottomPane > p {
  max-width: 600px;
  margin: 20px auto;
  font-size: 1.5em;
}

.menuButton {
  display: inline-block;
  width: 200px;
  background-color: #1d335f;
  color: white;
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border: none;
}

.inline {
  display: inline-block;
  margin: 0 10px !important;
}

.bottomText {
  font-weight: 300;
}

#messageForm {

}

textarea {
  resize: none;
  display: block;
  width: 400px;
  height: 84px;
  text-align: center;
  margin: 20px auto;
  font-family: inherit;
  border: none;
  background: #1d335f;
  color: white;
  padding: 10px;
}

@media screen and (max-width: 550px) {
  #bottomPane p {
    font-size: 1.2em;
    max-width: 400px;
  }
  .menuButton {
    font-size: 1em;
    width: 150px;
  }
}
