<div class="mainContent">
  <div id="mainMap"></div>
  <div *ngIf="webGeoWait" class="secondaryFont bottomPane">
    <sk-pulse [isRunning]="loading" [color]="'#1d335f'"></sk-pulse>
    <p class="secondaryFont">{{ "ALLOW_LOCATION_REQUEST" | translate }}</p>
  </div>

  <div *ngIf="formPhase === 1 && !loading" class="secondaryFont bottomPane mainContainer">

    <p><span>{{ 'FORM_MAP_WELCOME' | translate:{currentHolder: currentHolder} }}</span>
    <span *ngIf="owningAmount > 0">{{ "FORM_MAP_WELCOME_2" | translate }}</span><span *ngIf="owningAmount < 1">{{ "FORM_MAP_WELCOME_2_OWNERLESS" | translate }}</span></p>
    <p class="bottomText">{{ "PLEASE_LOCATE" | translate }}</p>

    <button class="menuButton" (click)="markerByGeo()">
      <p>{{ "GPS" | translate }}</p>
    </button>

    <p class="inline">{{ "OR" | translate }}</p>

    <button class="menuButton" (click)="markerByAddress()">
      <p>{{ "ENTER_CITY_NAME" | translate }}</p>
    </button>
  </div>

  <div *ngIf="formPhase === 2" class="secondaryFont bottomPane mainContainer">
    <p class="topText">{{ "FORM_MAP_P2_H" | translate }}</p>
    <p class="bottomText">{{ "FORM_MAP_P2_SH" | translate }}</p>

    <button class="menuButton" (click)="reset()">
      <p>{{ 'NO_VERBOSE' | translate }}</p>
    </button>

    <button class="menuButton" (click)="submitLocation()">
      <p>{{ 'YES_VERBOSE' | translate }}</p>
    </button>
  </div>

  <div *ngIf="formPhase === 3" class="secondaryFont bottomPane mainContainer">
    <p class="topText">{{ "FORM_MAP_P3_H" | translate }}</p>
    <p class="bottomText">{{ "FORM_MAP_P3_SH" | translate }}</p>

    <form id="dataPreferences" (ngSubmit)="submitPreferences(preferenceForm)" #preferenceForm="ngForm">
      <span *ngIf="preferenceError != ''" class="help-block">{{ preferenceError }}</span>
      <div *ngIf="!alreadyActivated" class="form-group">
          <label class="control control--checkbox">
            <input required type="checkbox" name="consent" [(ngModel)]="consentBox">
            {{ "OPT_DATA" | translate }}
            <div class="control__indicator"></div>
          </label>
      </div>

      <div class="form-group">
        <label class="control control--checkbox">{{ "OPT_RECEIVE_UPDATES" | translate }}
          <input type="checkbox" name="updates" [(ngModel)]="mail_updates">
          <div class="control__indicator"></div>
        </label>
      </div>

      <div class="form-group">
          <label class="control control--checkbox">
            <input type="checkbox" name="anonymous" [(ngModel)]="anonymous">
            {{ "OPT_ANONYMOUS" | translate }}
            <div class="control__indicator"></div>
          </label>
      </div>

      <button [disabled]="!preferenceForm.valid" type="submit" class="menuButton menuButtonBottomMargin">
        <p>{{ "READY_TO_SHARE" | translate }}</p>
      </button>
    </form>
  </div>

  <div *ngIf="formPhase === 4" class="secondaryFont bottomPane mainContainer">
    <p class="topText">{{ "FORM_MAP_P4_H" | translate }}</p>
    <p class="bottomText">{{ "FORM_MAP_P4_SH" | translate }}</p>

    <form id="messageForm" (ngSubmit)="submitMessage(messageForm)" #messageForm="ngForm">
      <textarea rows="1" placeholder="{{ 'WRITE_MESSAGE' | translate }}" maxlength="140" id="message" required ngModel name="message"
                class="code"></textarea>
      <button type="submit" class="menuButton">
        <p>{{ 'SEND_MESSAGE' | translate }}</p>
      </button>
    </form>
  </div>

  <div *ngIf="formPhase === 5" class="secondaryFont bottomPane mainContainer">
    <p class="topText">{{ "FORM_MAP_P5_H" | translate }}</p>
    <p class="bottomText">{{ "FORM_MAP_P5_SH" | translate }}</p>

    <button class="menuButton" (click)="complete()">
      <p>{{ "GO_TO_JOURNEY_PAGE" | translate }}</p>
    </button>
  </div>
</div>
