<div class="mainContent">
  <div class="mainContainer">
    <form (ngSubmit)="updatePassword(form)" #form="ngForm">

      <p class="menuBig">{{ "JOURNEY_STARTED" | translate }}</p>
      <p class="menuSmall">{{ "JOURNEY_STARTED_SUB" | translate }}</p>

      <span *ngIf="(!form.valid)" class="help-block">{{ generalError }}</span>

      <input
        ngModel
        #password="ngModel"
        type="password"
        id="password"
        name="password"
        placeholder="{{ 'NEW_PASSWORD' | translate }}"
        required>
      <span *ngIf="password.touched && (!password.valid || password.value.length < 8)" class="help-block">{{ passwordError }}</span>

      <input
        #passwordConfirm="ngModel"
        ngModel
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        placeholder="{{ 'NEW_PASSWORD_CONFIRM' | translate }}"
        required>
      <span *ngIf="!passwordConfirm.valid && passwordConfirm.touched" class="help-block">{{ passwordConfirmError }}</span>

      <input [disabled]="!form.valid" type="submit" value="{{ 'CREATE_ACCOUNT' | translate }}">
      <span *ngIf="generalError !== ''" class="help-block">{{ generalError }}</span>

    </form>
  </div>
</div>
