<div *ngIf="item['book_instance']; else noIdHolding"
     [ngClass]="{'travelling': item['status'] === 1, 'arrived': item['status'] === 2}"
     [routerLink]="['/journey', item['book_instance']['id']]" class="clickable">
  <p>{{ "BOOK_JOURNEY" | translate }}{{ item['book_instance']['id'] }} |
    <span *ngIf="item['status'] === 1">{{ "TRAVELLING" | translate }}</span>
    <span *ngIf="item['status'] === 2">{{ "ARRIVED" | translate }}</span>
  </p>
</div>
<ng-template #noIdHolding class="clickable waiting">
  <p>{{ "BOOK_JOURNEY" | translate }}??? |
    <span>{{ "WAITING" | translate }}</span>
  </p>
</ng-template>
