<div class="mainContent">
  <form (ngSubmit)="loginUser(form)" #form="ngForm">
    <p class="menuBig">LOG IN</p>
    <span *ngIf="!email.valid && email.touched" class="help-block">{{ nonFieldError }}</span>
    <input
      ngModel
      required
      email
      type="email"
      id="email"
      name="email"
      placeholder="e-mail address"
      #email="ngModel">
    <span *ngIf="!email.valid && email.touched" class="help-block">{{ usernameError }}</span>
    <input ngModel #password="ngModel" required type="password" id="password" name="password" placeholder="password">
    <span *ngIf="!password.valid && password.touched" class="help-block">{{ passwordError }}</span>
    <input [disabled]="!form.valid" type="submit" value="Enter">
  </form>
</div>
