.mainContent {
  background-image: url("/assets/img/web.png");
  background-repeat: no-repeat;
  background-position: center;
}

.mainContainer {
  padding-top: 20vh;
  display: block;
  margin: 10px auto;
  width: 70%;
  max-width: 600px;
}

form input {
  background: #1d335f;
  border: none;
  font-size: 20px;
  color: white;
  padding: 15px 3%;
  width: 94%;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  font-family: 'BebasNeue', sans-serif;
}

.menuSmall {
  text-align: center;
  font-size: 1.5em;
  background: white;
  margin-top: 0;
  margin-bottom: 10px;
}

.code {
  width: 20% !important;
  text-align: center;
}

.ngValid {
  background-color: green;
}
.menuBig {
  font-size: 60px;
  text-align: center;
  margin: 0px;
  text-shadow: 2px 2px #fff, -2px -2px #fff, 2px 0px #fff, 0px 2px #fff;
}

input.ng-invalid.ng-touched {
  background: red;
}

input[type="submit"]:disabled {
  background: dimgrey !important;
  cursor: default;
}

.help-block {
  text-align: center;
  color: red;
  display: block;
  background: white;
}

.hidden {
  display: none;
}

.fixWidth {
  width: 100% !important;
}

.generalError {
  background: red !important;
}

@media screen and (max-height: 780px) {
  .mainContainer {
    padding-top: 10vh;
  }
}

@media screen and (max-width: 650px) {
  .mainContainer {
    width: 90%;
  }
}
