<!--<div class="container-fluid" ng-app="RegisterLogin">-->
  <!--<script>-->
    <!--angular.module('RegisterLogin', [])-->
      <!--.controller('LoginController', ['$scope', function($scope) {-->
        <!--$scope.PrivacyPolicy = {-->
          <!--value : 'Agree'-->
        <!--};-->
      <!--}]);-->
  <!--</script>-->
  <!--<div class="row">-->
    <!--<div id="registerLogin">-->
      <!--<form ng-controller="LoginController">-->
        <!--<div class="form-group">-->
          <!--<input type="email"  placeholder="Email">-->
          <!--<input type="password"  placeholder="Password">-->
        <!--</div>-->
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox" ng-model="PrivacyPolicy.value">-->
          <!--</label>-->
        <!--</div>-->
        <!--<tt>value = {{PrivacyPolicy.value}}</tt><br/>-->
        <!--<button type="submit" class="btn btn-default">Sign in</button>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <div class="mainContent">
      <form>
        <input [value]="secretCode" disabled code>
        <input email>
        <input password>
        <input confirmPassword>
      </form>
    </div>
  </div>
</div>
